body {
  display: block;
  text-align: left;
  font-family: monospace;
}
#frame {
  max-width: 720px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
form {
  text-align: center;
  margin: 20px 20px;
}

h1 {
  color: #0c5dd4;
}

.forecast {
  margin-top: 50px;
  text-align: center;
}

.measure {
  text-decoration: none;
  color: black;
}
