body {
  display: block;
  text-align: left;
  font-family: monospace;
}

form {
  text-align: center;
  margin: 20px 20px;
}

h1 {
  color: #0c5dd4;
}
img.main {
  display: block;
  margin-top: 12px;
}
img.prediction {
  margin-right: 10px;
  display: block;
  text-align: center;
}

.wrapper {
  max-width: 720px;
  margin: 0 auto;
}
.frame {
  width: 100%;
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  margin-left: auto;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.forecast {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.date-forecast {
  display: block;
  align-items: center;
  font-size: 16px;
  margin-right: 20px;
}
.forecast-temp {
  font-size: 13px;
}
#currentButton {
  background-color: rgb(248, 89, 89);
  border-color: rgb(248, 89, 89);
  margin-left: 18px;
}
.measure {
  text-decoration: none;
  color: black;
}

.addInfo {
  margin-right: 50px;
}
